#imPage { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 1200px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 1200px minmax(0, 1fr); -ms-grid-rows: 217px auto 120px; grid-template-rows: 217px auto 120px; }
#imHeader { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
#imFooter { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 3; -ms-grid-row-span: 1; grid-row: 3 / 4; }
#imSideBar { display: none; }
#imContent { display: block; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-column: 1 / 4; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
#imContentGraphics { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
@media (max-width: 1199.9px) and (min-width: 800.0px) {
	#imPage { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 800px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 800px minmax(0, 1fr); -ms-grid-rows: 100px auto 80px; grid-template-rows: 100px auto 80px; }
	#imHeader { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
	#imFooter { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 3; -ms-grid-row-span: 1; grid-row: 3 / 4; }
	#imSideBar { display: none; }
	#imContent { display: block; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-column: 1 / 4; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
	#imContentGraphics { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
	
}
@media (max-width: 799.9px) and (min-width: 480.0px) {
	#imPage { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 480px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 480px minmax(0, 1fr); -ms-grid-rows: 100px auto 80px; grid-template-rows: 100px auto 80px; }
	#imHeader { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
	#imFooter { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 3; -ms-grid-row-span: 1; grid-row: 3 / 4; }
	#imSideBar { display: none; }
	#imContent { display: block; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-column: 1 / 4; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
	#imContentGraphics { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
	
}
@media (max-width: 479.9px)  {
	#imPage { display: -ms-grid; display: grid; -ms-grid-columns: 0 minmax(0, 1fr) 0; grid-template-columns: 0 minmax(0, 1fr) 0; -ms-grid-rows: 80px auto 60px; grid-template-rows: 80px auto 60px; }
	#imHeader { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
	#imFooter { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 3; -ms-grid-row-span: 1; grid-row: 3 / 4; }
	#imSideBar { display: none; }
	#imContent { display: block; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-column: 1 / 4; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
	#imContentGraphics { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
	
}
#imContent { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 1200px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 1200px minmax(0, 1fr); -ms-grid-rows: auto; grid-template-rows: auto; }
#im-cartsearch-container { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
@media (max-width: 1199.9px) and (min-width: 800.0px) {
	#imContent { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 800px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 800px minmax(0, 1fr); -ms-grid-rows: auto; grid-template-rows: auto; }
	#im-cartsearch-container { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
	
}
@media (max-width: 799.9px) and (min-width: 480.0px) {
	#imContent { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 480px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 480px minmax(0, 1fr); -ms-grid-rows: auto; grid-template-rows: auto; }
	#im-cartsearch-container { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
	
}
@media (max-width: 479.9px)  {
	#imContent { display: -ms-grid; display: grid; -ms-grid-columns: 0 minmax(0, 1fr) 0; grid-template-columns: 0 minmax(0, 1fr) 0; -ms-grid-rows: auto; grid-template-rows: auto; }
	#im-cartsearch-container { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
	
}
#imHeader_imCell_25 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imObjectImage_25 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imHeader_imCellStyleGraphics_25 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_25 { position: absolute; top: 0px; bottom: 0px; }
#imHeader_imObjectImage_25 { vertical-align: top; margin: 0 auto; }
#imHeader_imObjectImage_25 #imHeader_imObjectImage_25_container img { width: 100%; vertical-align: top; }#imHeader_imCell_28 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imObjectTitle_28 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imHeader_imCellStyleGraphics_28 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_28 { position: absolute; top: 0px; bottom: 0px; }
#imHeader_imObjectTitle_28 {margin: 0; text-align: center;}
#imHeader_imObjectTitle_28_text {font: normal normal normal 36pt 'Arial';  padding: 0px 0px 0px 0px; background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_28_text,
#imHeader_imObjectTitle_28_text a { color: rgba(0, 0, 0, 1); white-space: pre-wrap; }
#imHeader_imObjectTitle_28_text a{ text-decoration: none; }
body.filter-sidebar-open { overflow: hidden; }
#im-cartsearch-container { position: relative; display: flex; width: 100%; margin-left: auto; margin-right: auto; padding: 10px 0; }
#im-cartsearch-container:after { position: fixed; top: 0; right: 0; width: 0; height: 0; content: ''; opacity: 0; transition: opacity 1000ms; z-index: 10400; }
#im-cartsearch-container.cart-overlay:after { width: 100%; height: 100%; background-color: rgba(55, 71, 79, 1); opacity: 0.9; }
#im-cartsearch-container .show { display: block; }
#im-cartsearch-container .hidden { display: none; }
#im-cartsearch-container .filter-sidebar .lbl-title { position: relative; cursor: pointer; user-select: none; }
#im-cartsearch-container .filter-sidebar .lbl-title::after { content: "\e004"; font: 110% WebComponentsIcons; position: absolute; right: 0; opacity: 0.75; }
#im-cartsearch-container .filter-sidebar .closed .lbl-title::after { content: "\e006"; }
#im-cartsearch-container .filter-sidebar .filter-collapsable-content { overflow: hidden; max-height: 10000px; transition: max-height 300ms; }
#im-cartsearch-container .filter-sidebar .closed .filter-collapsable-content { max-height: 0; }
#im-cartsearch-container .sidebar-m-b { margin-bottom: 1em; margin-top: 0.5em; }
#im-cartsearch-container .title-font-color { font: normal normal normal 12pt 'Arial'; color: rgba(0, 0, 0, 1); background-color: transparent; text-decoration: none; text-align: left;  }
#im-cartsearch-container .description-font-color { font: normal normal normal 9pt 'Arial'; color: rgba(0, 0, 0, 1); background-color: transparent; text-decoration: none; text-align: left;  }
#im-cartsearch-container .search-com { font: normal normal normal 9pt 'Arial'; color: rgba(0, 0, 0, 1); background-color: transparent; text-decoration: none; text-align: left; ; padding: 0.6em; outline: none; background-color: rgba(255, 255, 255, 1); }
#im-cartsearch-container .filter-sidebar { transition: opacity 1s ease; border-style: solid; border-width: 1px 1px 1px 1px; border-color: rgba(128, 128, 128, 1) rgba(128, 128, 128, 1) rgba(128, 128, 128, 1) rgba(128, 128, 128, 1); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background: rgba(255, 255, 255, 1); padding: 8px 8px 8px 8px; margin: 0 0 0 10px; box-sizing: border-box; overflow-x: hidden; }
#im-cartsearch-container .filter-sidebar .to-close-sidebar { padding: 0.5em 0 2em 0; width: 100%; text-align: right; }
#im-cartsearch-container .filter-sidebar .to-close-sidebar > svg { width: 12px; height: 12px; fill-opacity: 0.6; fill: rgba(0, 0, 0, 1);  }
#im-cartsearch-container .filter-sidebar .to-close-sidebar > svg:hover { fill-opacity: 1; cursor:pointer; }
#im-cartsearch-container .filter-sidebar .search-container { width: 100%; position: relative; display: flex; }
#im-cartsearch-container.filter-sidebar-open .filter-sidebar .search-container { margin-top: 0; }
#im-cartsearch-container .filter-sidebar .search { background-color: rgba(255,255,255,0.8); width: 100%; border-width: 1px; border-radius: 2px 0 0 2px; padding: 10px 40px 10px 5px; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(0, 0, 0, 1); text-decoration: none; border-color: rgba(0, 0, 0, 1); }
#im-cartsearch-container .filter-sidebar .search::-ms-input-placeholder { color: rgba(169, 169, 169, 1); font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(0, 0, 0, 1); text-decoration: none;}
#im-cartsearch-container .search::placeholder, #im-cartsearch-container .search:-ms-input-placeholder, #im-cartsearch-container .search::-ms-input-placeholder { color: rgba(0, 0, 0, 1); opacity: 0.6;  }
#im-cartsearch-container .filter-sidebar .search-button { position: absolute; background-color: transparent; right: 0; width: 40px; height: 100%; border-width: 0; text-align: center; cursor: pointer; padding: 0; display: flex; align-items: center; }
#im-cartsearch-container .filter-sidebar .search-button svg { height: 1.5em; fill: rgba(0, 0, 0, 1); margin: 0 auto; display: block; }
#im-cartsearch-container .filter-sidebar .search-button svg:hover { fill: rgba(30, 30, 30, 1); }
#im-cartsearch-container .search-spinner { position: absolute; height: 70%; top: 15%; right: 5px; }
#im-cartsearch-container .filter-sidebar div.k-box { overflow: hidden; }
#im-cartsearch-container .filter-sidebar div.k-box.k-treeview .k-in.k-state-hover, #im-cartsearch-container .filter-sidebar div.k-box.k-treeview .k-in.k-state-focused, #im-cartsearch-container .filter-sidebar div.k-box.k-treeview .k-in.k-state-selected { border-color:transparent; background-color:transparent; box-shadow: none; background-image: none; cursor: pointer; }
#im-cartsearch-container .filter-sidebar [data-id="categories"] .show-all-categories { display: none; text-align: right; margin: 0.5em 0 0 0; text-decoration: underline; cursor: pointer; }
#im-cartsearch-container .filter-sidebar .k-treeview .k-icon { color: rgba(0, 0, 0, 0.8); }
#im-cartsearch-container .filter-sidebar .k-checkbox+.k-checkbox-label:before { border-color: rgba(0, 0, 0, 0.8); color: rgba(0, 0, 0, 1); background-color: rgba(255,255,255,0.8); border-radius: 2px 0 0 2px; }
#im-cartsearch-container .filter-sidebar .k-treeview span.k-in { white-space: normal; font: normal normal normal 9pt 'Arial'; color: rgba(0, 0, 0, 1); background-color: transparent; text-decoration: none; text-align: left; ; margin: 1px 0 1px 3px; padding: 1px 0 1px 0; }
#im-cartsearch-container .k-treeview .k-top, #im-cartsearch-container .k-treeview .k-mid, #im-cartsearch-container .k-treeview .k-item .k-bot, #im-cartsearch-container .filter-sidebar .checkbox-list [type="checkbox"] + label { margin-bottom: 0.6em; }
/* Base for label styling */
#im-cartsearch-container .filter-sidebar .checkbox-list .li-opt { padding: 0; }
#im-cartsearch-container .filter-sidebar .checkbox-list .k-checkbox-label:before { left: -2px; }
#im-cartsearch-container .filter-sidebar .checkbox-list span.k-in { width: calc(100% - 25px); margin: 1px 0 1px 0; }
#im-cartsearch-container .filter-sidebar .checkbox-list .k-checkbox-wrapper { max-width: 18.5px; }
#im-cartsearch-container .range-slider-container .irs--round .irs-from, #im-cartsearch-container .range-slider-container .irs--round .irs-to, #im-cartsearch-container .range-slider-container .irs--round .irs-single { background-color: transparent; font-family: Arial; font-size: 10pt; font-style: normal; font-weight: normal; color: rgba(0, 0, 0, 1); text-decoration: none; }
#im-cartsearch-container .range-slider-container .irs--round .irs-from:before, #im-cartsearch-container .range-slider-container .irs--round .irs-to:before, #im-cartsearch-container .range-slider-container .irs--round .irs-single:before { border-top-color: transparent; }
#im-cartsearch-container .range-slider-container .irs--round .irs-bar { background-color: rgba(0, 0, 0, 1); height: 3px; }
#im-cartsearch-container .range-slider-container .irs--round .irs-handle  { height: 18px; width: 18px; top: 28px; border: 3px solid rgba(0, 0, 0, 1); box-shadow: none; background-color: rgba(255,255,255,0.9); }
#im-cartsearch-container .range-slider-container .irs--round .irs-line, #im-cartsearch-container .range-slider-container .irs--round .irs-grid-pol { background-color: rgba(169, 169, 169, 1); opacity: 0.7; height: 3px; }
#im-cartsearch-container .range-slider-container .irs--round .irs-grid-text  { color: rgba(169, 169, 169, 1); font-family: Arial; font-size: 8pt; font-style: normal; font-weight: normal; text-decoration: none; }
#im-cartsearch-container .items-container { width: 100%; display: flex; flex-direction: column; transition: opacity 1s ease; margin: 0 10px; }
#im-cartsearch-container .items-container .content { height: 100%; position: relative; }
#im-cartsearch-container .items-container .content #im-spinner-wrapper { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 10702; background-color: transparent; align-items: center; justify-content: center; display: none; }
#im-cartsearch-container .items-container .content #im-spinner-wrapper .loading-image { width: 64px; height: 64px; }
#im-cartsearch-container .items-container .content .search-empty { font: normal normal normal 12pt 'Arial'; color: rgba(0, 0, 0, 1); background-color: transparent; text-decoration: none; text-align: left;  text-align: center; padding-top: 2em; }
#im-products { width: 100%; position: relative; max-width: 100%; box-sizing: border-box; height: 100%; }
#im-products .im-products-card { float: left; position: relative; box-sizing: border-box; height: 250px; background-color: rgba(255, 255, 255, 1); border-style: solid; border-width: 1px 1px 1px 1px; border-color: rgba(128, 128, 128, 1) rgba(128, 128, 128, 1) rgba(128, 128, 128, 1) rgba(128, 128, 128, 1); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; text-align: left; line-height: 1.5; overflow: hidden; }
#im-products .im-products-card .im-products-separator { margin: 0 8px 0 8px; border-bottom: 1px solid rgba(169, 169, 169, 1); }
#im-products .im-products-name a { color: rgba(0, 0, 0, 1); text-decoration: none; }
#im-products .im-products-image { box-sizing: border-box; max-width: 100%; width:100%; height: 100%; padding: 0px 0px 0px 0px; object-fit: scale-down;  }
#im-products_25icf3y0 .im-products-image { cursor: pointer; }
#im-products_j81f6321 .im-products-image { cursor: pointer; }
#im-products_91d4758i .im-products-image { cursor: pointer; }
#im-products_j37m3fju .im-products-image { cursor: pointer; }
#im-products_9e934771 .im-products-image { cursor: pointer; }
#im-products_0bw0dyi6 .im-products-image { cursor: pointer; }
#im-products_t80dr05j .im-products-image { cursor: pointer; }
#im-products_lvnnys3m .im-products-image { cursor: pointer; }
#im-products_903i71k4 .im-products-image { cursor: pointer; }
#im-products_g69f0a5j .im-products-image { cursor: pointer; }
#im-products .im-products-image.contain { object-fit: scale-down;  }
#im-products .im-products-card select { border: 1px solid rgba(169, 169, 169, 1); display: inline-block; line-height: 24px; height: 24px; font: normal normal normal 9pt 'Arial'; color: rgba(169, 169, 169, 1); background-color: transparent; text-decoration: none; text-align: left; background-color: rgba(255,255,255,0.8); }
#im-products .im-products-card .product-available-quantity { display: inline-block; }
#im-products .im-products-card .im-products-name { padding: 8px 8px 0 8px; font-family: Arial; font-size: 12pt; font-style: normal; font-weight: normal; color: rgba(0, 0, 0, 1); overflow: hidden; }
#im-products .im-products-card .im-products-name a { color: rgba(0, 0, 0, 1); text-decoration: none; }
#im-products .im-products-card .im-products-category { padding: 5px 8px 0 8px; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(169, 169, 169, 1); overflow: hidden; }
#im-products .im-products-card .im-products-description { position: relative; padding: 7px 8px 5px 8px; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(0, 0, 0, 1); overflow: auto; }
#im-products .im-products-card .im-products-description .im-products-description-fade { position: -webkit-sticky; position: sticky; width: 100%; height: 17.955px; left: 0; bottom: -5px; box-shadow: inset 0px -20px 44px rgba(255, 255, 255, 1); }
#im-products .im-products-card .im-products-availability { padding: 5px 8px 5px 8px; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(169, 169, 169, 1); overflow: hidden; }
#im-products .im-products-card .im-products-price { padding: 5px 0 8px 8px; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(169, 169, 169, 1); overflow: hidden; }
#im-products .im-products-card .im-products-options { padding: 5px 8px 5px 8px; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(169, 169, 169, 1); overflow: hidden; }
#im-products .im-products-card .im-products-qty-discount { padding: 5px 8px 5px 8px; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(169, 169, 169, 1); overflow: hidden; }
#im-products .im-products-card input.im-products-qty { border-radius: 0px; box-shadow: none; margin: 5px 5px 8px 5px; max-width: 3em; padding: 2px 0 2px 5px; border: 1px solid rgba(169, 169, 169, 1); font: normal normal normal 9pt 'Arial'; color: rgba(169, 169, 169, 1); background-color: transparent; text-decoration: none; text-align: left; ; text-align: left; overflow: hidden; background-color: rgba(255,255,255,0.8); }
#im-products .im-products-card .im-products-button { margin: 5px 8px 8px 0; border-style: solid; border-width: 0px 0px 0px 0px; border-color: transparent transparent transparent transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; padding: 5px 5px; background-color: rgba(50, 205, 50, 1); font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal; color: rgba(255, 255, 255, 1); cursor: pointer; overflow: hidden; }
@media (min-width: 1200.0px) {
	#im-products .im-products-card { width: calc(50% - 5px); margin: 10px 10px 0 0; }
	#im-products .im-products-card:nth-of-type(2n) { margin-right: 0; }
	#im-products .im-products-card:nth-of-type(-n+2) { margin-top: 0; }
	#im-products .im-products-card { display: grid; display: -ms-grid; grid-template-columns: 50% 1fr auto; -ms-grid-columns: 50% 1fr auto auto; grid-template-rows: auto auto 1fr auto; -ms-grid-rows: auto auto 1fr auto auto auto auto auto; }
	#im-products .im-wrapper-products-image { grid-column: 1 / 2; -ms-grid-column: 1; grid-row: 1 / 9; -ms-grid-row: 1; -ms-grid-row-span: 8; }
	#im-products .im-products-name { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 1 / 2; -ms-grid-row: 1; }
	#im-products .im-products-category { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 2 / 3; -ms-grid-row: 2; }
	#im-products .im-products-description { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 3 / 4; -ms-grid-row: 3; }
	#im-products .im-products-separator { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 4 / 5; -ms-grid-row: 4; }
	#im-products .im-products-availability { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 5 / 6; -ms-grid-row: 5; }
	#im-products .im-products-price { grid-column: 2 / 3; -ms-grid-column: 2; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-options { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 7 / 8; -ms-grid-row: 7; }
	#im-products .im-products-qty { grid-column: 3 / 4; -ms-grid-column: 3; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-qty-discount { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 6 / 7; -ms-grid-row: 6; }
	#im-products .im-products-button { grid-column: 4 / 5; -ms-grid-column: 4; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	
}
@media (max-width: 1199.9px) and (min-width: 800.0px) {
	#im-products .im-products-card { width: 100%; margin-top: 10px; }
	#im-products .im-products-card:first-of-type { margin-top: 0; }
	#im-products .im-products-card { display: grid; display: -ms-grid; grid-template-columns: 50% 1fr auto; -ms-grid-columns: 50% 1fr auto auto; grid-template-rows: auto auto 1fr auto; -ms-grid-rows: auto auto 1fr auto auto auto auto auto; }
	#im-products .im-wrapper-products-image { grid-column: 1 / 2; -ms-grid-column: 1; grid-row: 1 / 9; -ms-grid-row: 1; -ms-grid-row-span: 8; }
	#im-products .im-products-name { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 1 / 2; -ms-grid-row: 1; }
	#im-products .im-products-category { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 2 / 3; -ms-grid-row: 2; }
	#im-products .im-products-description { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 3 / 4; -ms-grid-row: 3; }
	#im-products .im-products-separator { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 4 / 5; -ms-grid-row: 4; }
	#im-products .im-products-availability { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 5 / 6; -ms-grid-row: 5; }
	#im-products .im-products-price { grid-column: 2 / 3; -ms-grid-column: 2; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-options { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 7 / 8; -ms-grid-row: 7; }
	#im-products .im-products-qty { grid-column: 3 / 4; -ms-grid-column: 3; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-qty-discount { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 6 / 7; -ms-grid-row: 6; }
	#im-products .im-products-button { grid-column: 4 / 5; -ms-grid-column: 4; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	
}
@media (max-width: 799.9px) and (min-width: 480.0px) {
	#im-products .im-products-card { width: 100%; margin-top: 10px; }
	#im-products .im-products-card:first-of-type { margin-top: 0; }
	#im-products .im-products-card { display: grid; display: -ms-grid; grid-template-columns: 50% 1fr auto; -ms-grid-columns: 50% 1fr auto auto; grid-template-rows: auto auto 1fr auto; -ms-grid-rows: auto auto 1fr auto auto auto auto auto; }
	#im-products .im-wrapper-products-image { grid-column: 1 / 2; -ms-grid-column: 1; grid-row: 1 / 9; -ms-grid-row: 1; -ms-grid-row-span: 8; }
	#im-products .im-products-name { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 1 / 2; -ms-grid-row: 1; }
	#im-products .im-products-category { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 2 / 3; -ms-grid-row: 2; }
	#im-products .im-products-description { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 3 / 4; -ms-grid-row: 3; }
	#im-products .im-products-separator { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 4 / 5; -ms-grid-row: 4; }
	#im-products .im-products-availability { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 5 / 6; -ms-grid-row: 5; }
	#im-products .im-products-price { grid-column: 2 / 3; -ms-grid-column: 2; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-options { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 7 / 8; -ms-grid-row: 7; }
	#im-products .im-products-qty { grid-column: 3 / 4; -ms-grid-column: 3; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-qty-discount { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 6 / 7; -ms-grid-row: 6; }
	#im-products .im-products-button { grid-column: 4 / 5; -ms-grid-column: 4; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	
}
@media (max-width: 479.9px)  {
	#im-products .im-products-card { width: 100%; margin-top: 10px; }
	#im-products .im-products-card:first-of-type { margin-top: 0; }
	.im-products-card { height: 500px; }
	#im-products .im-products-card { display: grid; display: -ms-grid; grid-template-columns: 50% 1fr auto; -ms-grid-columns: 50% 1fr auto auto; grid-template-rows: auto auto 1fr auto; -ms-grid-rows: auto auto 1fr auto auto auto auto auto; }
	#im-products .im-wrapper-products-image { grid-column: 1 / 2; -ms-grid-column: 1; grid-row: 1 / 9; -ms-grid-row: 1; -ms-grid-row-span: 8; }
	#im-products .im-products-name { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 1 / 2; -ms-grid-row: 1; }
	#im-products .im-products-category { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 2 / 3; -ms-grid-row: 2; }
	#im-products .im-products-description { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 3 / 4; -ms-grid-row: 3; }
	#im-products .im-products-separator { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 4 / 5; -ms-grid-row: 4; }
	#im-products .im-products-availability { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 5 / 6; -ms-grid-row: 5; }
	#im-products .im-products-price { grid-column: 2 / 3; -ms-grid-column: 2; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-options { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 7 / 8; -ms-grid-row: 7; }
	#im-products .im-products-qty { grid-column: 3 / 4; -ms-grid-column: 3; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	#im-products .im-products-qty-discount { grid-column: 2 / 5; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-row: 6 / 7; -ms-grid-row: 6; }
	#im-products .im-products-button { grid-column: 4 / 5; -ms-grid-column: 4; grid-row: 8 / 9; -ms-grid-row: 8; align-self: safe center; -ms-grid-row-align: center; }
	
}
#im-cartsearch-container .items-container .bar-order { border-style: solid; border-width: 1px 1px 1px 1px; border-color: rgba(128, 128, 128, 1) rgba(128, 128, 128, 1) rgba(128, 128, 128, 1) rgba(128, 128, 128, 1); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background: rgba(255, 255, 255, 1); width: 100%; display: flex; align-items: center; padding: 10px; box-sizing: border-box; margin-bottom: 10px; }
#im-cartsearch-container .items-container .bar-order .total-results { margin: 0 10px; text-align: left; }
#im-cartsearch-container .items-container .bar-order .sort-by { flex: 1; position: relative; display: flex; justify-content: flex-end; align-items: center; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul.dropdown-sort { list-style: none; padding: 0; cursor: pointer; position: relative; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul.dropdown-sort > li { box-sizing: border-box; position: relative; display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: flex-end; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul > li .icon-arrow > svg { fill: rgba(0, 0, 0, 1); display: block; margin: 0 0 0 0.5em; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul > li .icon-arrow { display: flex; align-items: center; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul > li .icon-arrow.close { transition-duration: 0.3s; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul > li .icon-arrow.open { transform: rotate3d(1, 0, 0, 180deg); transition-duration: 0.3s;}
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul ul.dropdown-sort-inside.hide { max-height: 0; transition: max-height 0.1s ease-out; max-width: 100%; width: 100%; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul ul.dropdown-sort-inside.show { max-height: 9999px; transition: max-height 2s ease-in-out; border: 1px solid rgba(0, 0, 0, 1); border-radius: 2px 0 0 2px; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul ul.dropdown-sort-inside { position: absolute; left: 0; overflow: hidden; list-style: none; padding: 0; margin: 0; z-index: 99; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul ul.dropdown-sort-inside li { text-align: left; white-space: nowrap; }
#im-cartsearch-container .items-container .bar-order .sort-by .c-order > ul ul.dropdown-sort-inside li:hover { color: rgba(30, 30, 30, 1); }
#im-cartsearch-container .btn-sidebar { height: 15px; width: 100%; max-height: 50px; max-width: 50px; box-sizing: border-box; cursor: pointer; border: 2px solid rgba(0, 0, 0, 1); border-radius: 2px 0 0 2px; }
#im-cartsearch-container .btn-sidebar.out-bar-order { margin-bottom: 10px; width: 40px; height: 40px; }
#im-cartsearch-container .btn-sidebar svg { fill: rgba(0, 0, 0, 1); display: block; margin: 0 auto; width: 70%; }
#im-cartsearch-container .btn-sidebar svg:hover { fill: rgba(30, 30, 30, 1); }
@media (min-width: 1200.0px) {
	#im-cartsearch-container .btn-sidebar, #im-cartsearch-container .to-close-sidebar { display: none; }
	#im-cartsearch-container .filter-sidebar { transition: opacity 1s ease; min-width: 200px; max-width: 200px; width: 100%; }
	
}
@media (max-width: 1199.9px) and (min-width: 800.0px) {
	#im-cartsearch-container .btn-sidebar, #im-cartsearch-container .to-close-sidebar { display: none; }
	#im-cartsearch-container .filter-sidebar { transition: opacity 1s ease; min-width: 200px; max-width: 200px; width: 100%; }
	
}
@media (max-width: 799.9px) and (min-width: 480.0px) {
	#im-cartsearch-container .btn-sidebar { display: flex; align-content: center; }
	#im-cartsearch-container .to-close-sidebar { display: block }
	#im-cartsearch-container .filter-sidebar { position: fixed; top: 0; right: 100%; z-index: 10401; margin: 0; visibility: hidden; max-width: 350px; width: 100%; height: 100%; transition: all 0.5s; }
	#im-cartsearch-container.filter-sidebar-open .filter-sidebar { visibility: visible; transform: translate3d(100%, 0, 0); }
	
}
@media (max-width: 479.9px)  {
	#im-cartsearch-container .btn-sidebar { display: flex; align-content: center; }
	#im-cartsearch-container .to-close-sidebar { display: block }
	#im-cartsearch-container .filter-sidebar { position: fixed; top: 0; right: 100%; z-index: 10401; margin: 0; visibility: hidden; max-width: 350px; width: 100%; height: 100%; transition: all 0.5s; }
	#im-cartsearch-container.filter-sidebar-open .filter-sidebar { visibility: visible; transform: translate3d(100%, 0, 0); }
	
}
.im-cartsearch-pagination { width: 100%; max-width: 100%; float: left; clear: both; }
@media (min-width: 1200.0px) {
	#imHeader_imObjectImage_25_wrapper { position: absolute; top: 55px; left: 64px; width: 146px; height: 144px; text-align: center; z-index: 1002; overflow: hidden; }
	#imHeader_imObjectImage_25_wrapper img {-webkit-clip-path: inset(0 0 0% 0);clip-path: inset(0 0 0% 0);}#imHeader_imCell_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_25 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imObjectImage_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyleGraphics_25 { left: 0px; right: 0px; }
	#imHeader_imCellStyleBorders_25 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imObjectTitle_28_wrapper { position: absolute; top: 97px; left: 435px; width: 295px; height: 66px; text-align: center; z-index: 1003;  }
	#imHeader_imCell_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_28 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imObjectTitle_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyleGraphics_28 { left: 0px; right: 0px; }
	#imHeader_imCellStyleBorders_28 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imObjectTitle_28 { width: 100%; }
	#imHeader_imObjectTitle_28_text { margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	 }
	
}

@media (max-width: 1199.9px) and (min-width: 800.0px) {
	#imHeader_imObjectImage_25_wrapper { position: absolute; top: 8px; left: 38px; width: 57px; height: 56px; text-align: center; z-index: 1002; overflow: hidden; }
	#imHeader_imObjectImage_25_wrapper img {-webkit-clip-path: inset(0 0 0% 0);clip-path: inset(0 0 0% 0);}#imHeader_imCell_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_25 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imObjectImage_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyleGraphics_25 { left: 0px; right: 0px; }
	#imHeader_imCellStyleBorders_25 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imObjectTitle_28_wrapper { position: absolute; top: 14px; left: 325px; width: 200px; height: 48px; text-align: center; z-index: 1003;  }
	#imHeader_imCell_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_28 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imObjectTitle_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyleGraphics_28 { left: 0px; right: 0px; }
	#imHeader_imCellStyleBorders_28 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imObjectTitle_28_text { font-size: 30.16pt; }
	#imHeader_imObjectTitle_28 { width: 100%; }
	#imHeader_imObjectTitle_28_text { margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	 }
	
}

@media (max-width: 799.9px) and (min-width: 480.0px) {
	#imHeader_imObjectImage_25_wrapper { position: absolute; top: 11px; left: 38px; width: 57px; height: 56px; text-align: center; z-index: 1002; overflow: hidden; }
	#imHeader_imObjectImage_25_wrapper img {-webkit-clip-path: inset(0 0 0% 0);clip-path: inset(0 0 0% 0);}#imHeader_imCell_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_25 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imObjectImage_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyleGraphics_25 { left: 0px; right: 0px; }
	#imHeader_imCellStyleBorders_25 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imObjectTitle_28_wrapper { position: absolute; top: 21px; left: 208px; width: 140px; height: 44px; text-align: center; z-index: 1003;  }
	#imHeader_imCell_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_28 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imObjectTitle_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyleGraphics_28 { left: 0px; right: 0px; }
	#imHeader_imCellStyleBorders_28 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imObjectTitle_28_text { font-size: 21.11pt; }
	#imHeader_imObjectTitle_28 { width: 100%; }
	#imHeader_imObjectTitle_28_text { margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	 }
	
}

@media (max-width: 479.9px)  {
	#imHeader_imObjectImage_25_wrapper { position: absolute; top: 41px; left: 30px; width: 35px; height: 35px; text-align: center; z-index: 1002; overflow: hidden; }
	#imHeader_imObjectImage_25_wrapper img {-webkit-clip-path: inset(0 0 -2.941% 0);clip-path: inset(0 0 -2.941% 0);}#imHeader_imCell_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imObjectImage_25 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_25 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imCellStyleGraphics_25 { top: 0px; bottom: 0px; left: 0px; right: 0px; box-sizing: border-box; }
	#imHeader_imObjectTitle_28_wrapper { position: absolute; top: 42px; left: 97px; width: 98px; height: 40px; text-align: center; z-index: 1003;  }
	#imHeader_imCell_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imObjectTitle_28 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCell_28 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
	#imHeader_imCellStyleGraphics_28 { top: 0px; bottom: 0px; left: 0px; right: 0px; box-sizing: border-box; }
	#imHeader_imObjectTitle_28_text { font-size: 14.78pt; }
	#imHeader_imObjectTitle_28 { width: 100%; }
	#imHeader_imObjectTitle_28_text { margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	 }
	
}

#imPage.without-id_animation-in-progress { overflow: hidden }
